<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Swetugg!</title>
    <link rel="stylesheet" href="/Content/bootstrap/bootstrap.css">
    <style type="text/css">
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }   
    </style>
    
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
    <script>
    
        var map;
        var mapOptions;

        function initialize() {
            mapOptions = {
                zoom: 3,
                center: new google.maps.LatLng(35, 0)
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            $.ajax("/api/locations", {
                success: function (locationsArray) {
                    for (var i = 0; i < locationsArray.length; i++) {
                        var location = locationsArray[i];
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(location.lat, location.long),
                            map: map,
                            animation: google.maps.Animation.DROP,
                        });
                    }
                },
                error: function () {
                    console.log("error retrieving locations");
                }
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

        
    </script>
</head>
<body>

Hello SweTugg

    <div id="map-canvas"></div>

</body>
</html>
